@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');

:root{
    --cor01: hsl(172, 67%, 45%);
    --cor02: hsl(183, 100%, 15%);
    --cor03: hsl(183, 100%, 15%);
    --cor04: hsl(186, 14%, 43%);
    --cor05: hsl(184, 14%, 56%);
    --cor06: hsl(185, 41%, 84%);
    --cor07: hsl(189, 41%, 97%);
    --cor08: hsl(0, 0%, 100%);
}

*{
    font-family: 'Arima', cursive;;
}

body{
    margin: 0;
    background-color: var(--cor06);
}

header{
    background-color: var(--cor06);
    text-align: center;
    padding: 25px;
    margin: 0;
}

.container{
    width: 100vw;
    height: 72vh;
    margin: 0;
    padding: 0;
    background-color: var(--cor06);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: var(--cor08);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.226);
    margin: 0;
    width: 70vw;
    height: 70vh;
    margin: 20px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.box > .panel{
    width: 35vw;
    height: 70vh;
    border-radius: 15px;
    background-color: var(--cor03);
    box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.151);
    text-align: left;
}

.panel > p{
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    margin: 0;
    color: var(--cor08);
    font-size: 15px;
}

button#reset{
    background-color: var(--cor01);
    color: var(--cor03);
    width: 400px;
    margin: 25px;
    margin-left: 40px;
    margin-top: 55px;
}

button#reset:hover{
    background-color: var(--cor06);
    color: var(--cor02);
}

p#valor{
    text-align: right;
    margin-right: 50px;
    padding: 0;
    color: var(--cor01);
    font-size: 50px;
}

p#barra{
    color: var(--cor05);
    padding: 0;
    margin-left: 25px;
}

p#canto{
    padding: 0;
    margin: 0;
    margin-right: 250px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: -25px;

    font-size: 15px;
    font-weight: 700;
    color: var(--cor05);
}

.box > .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 125px;
    background-color: var(--cor02);
    color: var(--cor07);
    font-size: 20px;
    text-align: center;
}

button:hover{
    background-color: var(--cor01);
    color: var(--cor02);
}

input#custom{
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 105px;
    height: 32px;
    background-color: var(--cor02);
    color: var(--cor07);
    font-size: 20px;
    text-align: center;
}

input::placeholder{
    color: var(--cor07);
}

input#custom:hover{
    background-color: var(--cor07);
    color: var(--cor02);
    border: 2px solid var(--cor01);
}

input{
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 30px;
    margin-left: -25px;
}

footer > .attribution{ 
    font-size: 15px; 
    text-align: center; 
    padding: 15px;
    background-color: var(--cor06);
}

footer > .attribution a{ 
    color: hsl(228, 45%, 44%); 
}